.contact-info
  %ul#social-media
    %li
      = link_to "http://www.facebook.com/yinzhenzhi", :target => "_blank", :title => "Facebook Profile", :class => "tip" do
        = image_tag "facebook_32.png"

    %li
      = link_to "http://www.linkedin.com/pub/eva-yin/37/99a/194", :target => "_blank", :title => "LinkedIn Profile", :class => "tip" do
        = image_tag "linkedin_32.png"

    %li
      = link_to "https://twitter.com/eva_yin", :target => "_blank", :title => "GitHub Profile", :class => "tip" do
        = image_tag "github_32.png"
    
    %li
      = link_to "mailto:eva@evayin.com", :title => "Send me a message", :class => "tip" do
        = image_tag "email_32.png"

%style
  :sass
    #social-media a
      text-decoration: none

