.cv-section.fixed
  %h2.cv-section-name Work Experience
  .cv-section-items
    = render "resume/work_experience/coopstudent"
    = render "resume/work_experience/annex"
    = render "resume/work_experience/noomii"
    = render "resume/work_experience/touchkeyword"
    = render "resume/work_experience/kinzin"

    .item.last-item
      %br/
      %p
        Further work experience can be found on my LinkedIn profile at
        = link_to "linkedin.com/in/raduvlad", "http://linkedin.com/in/raduvlad"

