#cv
  .cv-section.fixed.first-cv-section
    .person
      = image_tag "photo.png", :width => "100", :height => "100"
      %h1 Eva Yin
      %h2 Event Planner / Social Media 

    = render "contact_info"

  = render "summary"
  = render "marketing_experience"
  = render "event_planning_experience"
  = render "working_experience"
  = render "education"


